@font-face {
  font-family: "Digital";
  src: url("DigitalNumbers-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  --s: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calc-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background: linear-gradient(
    to top,
    #18241b,
    black
    /* #050c0e */
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 14px;
  padding: 35px 15px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.39);
}

button {
  width: var(--s);
  height: var(--s);
  margin: 1px;

  font-family: inherit;
  font-weight: 300;
  font-size: 16px;

  color: rgb(var(--btn-color));
  border-radius: 5%;

  background-color: rgba(255, 255, 255, 0);
  transition: 0.1s background-color, 0.1s box-shadow, 0.2s border;
}

button:hover {
  transition: 0.1s background-color, 0.1s box-shadow, 0.2s border;
  border: 1px rgb(var(--btn-color)) solid;
  /* box-shadow: 0px 0px 12px 1px rgb(var(--btn-color), 0.4),
    inset 0px 0px 30px 1px rgb(var(--btn-color), 0.4); */
}

button:active {
  background-color: rgb(var(--btn-color), 0.4);
  transition: 0.1s background-color;
}

.red-btn {
  --btn-color: 160, 52, 52;
}

.green-btn {
  --btn-color: 52, 162, 78;
}

.white-btn {
  --btn-color: 255, 255, 255;
}

.button-row {
  display: flex;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;

  padding: 0 15px;
  /* margin: 40px 0; */

  color: white;
  font-size: 32px;
  font-family: monospace;

  /* border: 1px solid white; */
  /* border-radius: 6px; */
}

#primary-display,
#secondary-display {
  flex: 1 0 var(--s);
  min-height: var(--s);
  padding: 1px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#secondary-display {
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.493);
  font-size: 50%;
}
